body {
	background-color: #e8f3f8;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: steelblue;
}

form {
	margin: 20px auto;
	width:320px;
	color: steelblue;
}

input {
	padding: 10px;
	font-size: inherit;

}
input[type='text']{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue
}
input[type='number']{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue
}
textarea {
	padding: 10px;
	font-size: 20;

}
textarea {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue
}
.menu_active {
	font-weight: bold;
    border-bottom: 2px solid blue;
}